//CTA Section

.yellowBg {
  background-color: #f2ff56 !important;
}

.blackBg {
  background-color: #272727 !important;
}

.blackText {
  color: black !important;
}

.whiteText {
  color: #fff !important;
}
.ctaContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #272727;
  padding: 50px;
  @media only screen and (max-width: 600px) {
    align-items: unset;
  }
  @media only screen and (max-width: 560px) {
    height: unset;
  }
}
.ctaTitle {
  font-family: TTCommons-Bold;
  font-size: 32px;
  color: white;
  margin-top: 30px;
  text-align: center;
  @media only screen and (max-width: 600px) {
    text-align: left;
  }
}
.ctaText {
  font-size: 18px;
  font-family: TTCommons-Regular;
  color: white;
  max-width: 550px;
  margin-bottom: 30px;
}

//Reusable CSS
.title {
  font-family: TTCommons-Bold;
  font-size: 52px;
}

.contentText {
  font-family: TTCommons-Medium;
  font-size: 18px;
}
.consultantButtonText {
  margin: unset !important;
  padding: 25.5px;
  font-family: TTCommons-Bold;
  font-size: 17px;
  color: black;

  @media only screen and (max-width: 560px) {
    padding: 15.5px;
  }
}
.consultImage {
  margin: 10px;
}

.consultantButton {
  background-color: #f2ff56;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  width: fit-content;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  @media only screen and (max-width: 400px) {
    padding: unset;
  }
}
