html,
body {
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #005db9 transparent #005db9 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//modal boostrap override styles
.centeredModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-right: -32px;
}
.modal {
  overflow-y: auto !important;
}

.modalTitle {
  font-family: TTCommons-Bold;
  font-size: 32px !important;
}

.modalText {
  font-family: TTCommons-Regular;
  font-size: 18px;
  max-width: 400px;
  width: 90%;
  text-align: center;
}
.modalButton {
  font-family: TTCommons-Regular;
  font-size: 18px;
  width: 80px;
}

.ReactVideoPlayer > * {
  object-fit: cover;
}
.linkContainer {
  display: flex;
  width: 100%;
  max-width: 500px;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}
.modalHeader {
  padding-bottom: 30px !important;
  margin: 10px;
  padding-top: 30px !important;
}
.modalBody {
  padding-right: calc(1rem + 32px) !important;
}
.centerModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

//
.dropzone {
  padding: 30px;
  cursor: pointer;
  border: 1px solid lightblue;
  border-radius: 5px;

  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

* {
  box-sizing: border-box;
}

.navbar-toggler {
  border-color: white !important;
}

.navbar-toggler-icon {
  filter: invert(1) !important;
}

//Cookie policy

.acceptButton {
  background: rgb(255 212 45 / 0%);
  border: 2px solid #f2ff56 !important;
  border-radius: 0px;
  box-shadow: none;
  color: #f2ff56;
  cursor: pointer;
  flex: 0 0 auto;
  padding: 5px 10px;
  margin: 15px;
  border: 0px;
  transition: 0.4s all;
}

.acceptButton:hover {
  background: #f2ff56;
  color: #005db9 !important;
}

.declineButton {
  background: rgb(193, 42, 42);
  border: 0px;
  border-radius: 0px;
  box-shadow: none;
  color: rgb(229, 229, 229);
  cursor: pointer;
  flex: 0 0 auto;
  padding: 5px 10px;
  margin: 15px;
}

.declineButton:hover {
  background: rgba(193, 42, 42, 0.658) !important;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
  height: 100%;
  @media only screen and (max-width: 960px) {
    padding-bottom: 100% !important;
  }
}
.collapse:not(.show) {
  display: none;
}

.breadcrumbSlash {
  float: left;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #6c757d;
  content: "/";
  font-size: 12px;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

.workVideo {
  width: 500px !important;
  height: 300px !important;

  @media only screen and (max-width: 660px) {
    width: 100% !important;
  }
}

.premiumVideo {
  width: 100%;
  height: 100%;
}

.awardVideo {
  width: 50% !important;
  height: 450px !important;
  padding-bottom: unset !important;
  @media only screen and (max-width: 660px) {
    width: -webkit-fill-available !important;
  }
  @media only screen and (max-width: 1200px) {
    width: 100% !important;
    height: 450px !important;
  }
}

.react-multiple-carousel__arrow {
  z-index: unset !important;
}

//rich text editor for blogs

#richTextBlogs {
  padding-right: 10%;
  @media only screen and (max-width: 960px) {
    padding-left: 2%;
    padding-right: 2%;
  }
  p {
    max-width: 80%;
    margin: 20px;
  }
}
//marketo forms
#blog-youtube {
  .video-responsive {
    height: 100%;
  }
}

/* purgecss start ignore */
#mktoForm_1181 {
  width: unset !important;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .mktoButtonRow {
    margin-left: 10px !important;
    @media only screen and (max-width: 960px) {
      margin-left: 0px !important;
      text-align: center !important;
    }
  }
  .mktoField {
    border: 2px solid rgb(0, 0, 0) !important;
    background-color: #ffffff00 !important;
    box-shadow: unset !important;
    margin-right: 12px !important;
    padding: 20px 10px 20px 10px !important;
    height: 55px;
    width: 300px !important;
  }

  .background-video {
    filter: brightness(0.5);
  }

  .mktoLabel {
    margin-bottom: 5px;
  }

  label > span {
    font-family: "TTCommons-Bold" !important;
  }
  .mktoButtonWrap {
    margin-left: 0 !important;

    font-family: "TTCommons-Bold" !important;
    button {
      background: #005eb8;
      font-family: "TTCommons-DemiBold" !important;
      font-size: 18px;
      height: auto;
      padding: 15px 25px 15px 25px;
      border-radius: unset !important;
      border: unset;
      margin-top: 15px;
      letter-spacing: 0.75px;
    }
  }
  @media only screen and (max-width: 960px) {
    width: 100% !important;
    justify-content: center;
  }
  #commentCapture {
    padding-top: 15px !important;
  }
}
/* purgecss end ignore */

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
/* purgecss start ignore */
#mktoForm_1169 {
  &.mktoForm {
    select > option {
      color: black;
    }
    display: flex;
    justify-content: center;
    .input {
      margin-right: 12px !important;
    }
    .mktoField {
      color: #fff;
      border: 2px solid white !important;
      background-color: #ffffff00 !important;
      box-shadow: unset !important;
      margin-right: 12px !important;
      padding: 20px 0px 28px 20px !important;
    }
    .mktoOffset {
      display: none;
    }
    .mktoGutter {
      display: none;
    }
    .mktoButton {
      background: #f2ff56 !important;
      border: 2px solid #f2ff56 !important;
      box-shadow: unset !important;
      background-image: unset !important;
      width: 236px !important;
      height: 70px !important;
      font-family: "TTCommons-Bold" !important;
    }
    .mktoButtonWrap {
      margin-left: none !important;
    }
  }
  .mktoLabel {
    display: none;
  }
  @media only screen and (max-width: 960px) {
    flex-direction: column;
    align-items: center;
  }
}
/* purgecss end ignore */

#City {
  @media only screen and (max-width: 1200px) {
    width: unset !important;
  }

  @media only screen and (max-width: 960px) {
    width: 300px !important;
  }
}

#Email {
  @media only screen and (max-width: 1200px) {
    width: unset !important;
  }
  @media only screen and (max-width: 960px) {
    width: 300px !important;
  }
}

#HomeownerOrProfessional {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, rgb(255, 255, 255) 50%),
    linear-gradient(135deg, rgb(255, 255, 255) 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 17px), calc(100% - 15px) calc(1em + 17px), calc(100% - 2.5em) 0;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;

  &:focus {
    border-color: #0058ff;
    outline: 0;
  }
  @media only screen and (max-width: 1200px) {
    width: 200px !important;
  }
  @media only screen and (max-width: 960px) {
    width: 300px !important;
  }
}
#jobRich {
  color: white;
}
#jobRich a {
  color: yellow;
  text-decoration: underline;
}

#jobRich p {
  font-family: "TTCommons-Regular";
  font-size: 16px;
}

#jobRich p strong {
  font-family: "TTCommons-Bold";
  font-size: 24px;
}

//filter select
#filter-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, black 50%),
    linear-gradient(135deg, black 50%, transparent 50%), linear-gradient(to right, #ccc0, #ccc0);
  background-position: calc(100% - 20px) calc(1em + 17px), calc(100% - 15px) calc(1em + 17px), calc(100% - 2.5em) 0;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;

  &:focus {
    border-color: #0058ff;
    outline: 0;
  }
}

//blog

.blog-heading {
  margin-top: 100px;
}

.field-name-field-blog-image .field-items .field-item {
  img {
    margin-top: 100px;
    margin-bottom: 100px;
    object-fit: cover;
    width: 100%;
  }
}

.field-name-body {
  p {
    font-size: 18px;
    font-family: TTCommons-Regular;
    max-width: 640px;
  }
  h2 {
    font-size: 24px;
    font-family: TTCommons-Medium;
    max-width: 640px;
    margin-top: 80px;
    margin-bottom: 50px;
  }
}

#block-views-highlighted-blog-posts-block {
  h2 {
    margin-bottom: 80px;
    margin-top: 80px;
  }
}

.media {
  display: unset !important;
}

.views-column {
  width: 300px;
  margin-right: 50px;
  .views-field {
    margin-top: 10px;
  }
}

.views-row {
  @media only screen and (max-width: 960px) {
    margin-left: unset !important;
    justify-content: center;
    img {
      margin-top: 25px;
    }
  }
}
.media-element {
  margin: 15px;
  @media only screen and (max-width: 960px) {
    margin: 0px;
    width: 100% !important;
    object-fit: cover;
  }
}
.field-name-body {
  p {
    max-width: 60%;
  }
  @media only screen and (max-width: 960px) {
    p {
      max-width: 95%;
    }
  }
}

#richText {
  p {
    font-size: 18px;
    font-family: TTCommons-Regular;
    max-width: 640px;
  }
  h2 {
    font-size: 24px;
    font-family: TTCommons-Medium;
    max-width: 640px;
    margin-top: 80px;
    margin-bottom: 50px;
  }
}

#richTextLocation {
  img {
    margin-bottom: 50px;
    width: 770px;
    height: 500px;
    object-fit: cover;
  }
  td {
    height: auto!important;
  }
  @media only screen and (max-width: 1220px) {
    img {
      width: 100%;
      margin-bottom: 25px;
      margin-top: 15px;
    }

    tr {
      margin-bottom: 50px;
      display: flex;
      flex-direction: column;
      height: auto!important;
      td:nth-child(2) {
        display: none;
      }

      td {
        width: 100% !important;
        span {
          width: 100%;
          padding: unset;
        }
      }
    }
  }
}
